<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container">
        <h1><%= blog.title %></h1>
        <img src="/<%=blog.coverImage%>" width="70%">
        <br><br>
        <pre><%= blog.body %></pre>

        <div class="conatainer mt-5">
            <img src="/<%= blog.createdBy.profileImageURL %>" alt="userImage" width="50px"class="rounded-circle">
            <%=blog.createdBy.fullname  %>
        </div>
    </div>

    <div class="conatainer mt-5 p-5">
        <h1>Comments (<%= comments.length %>)</h1>
        <% if (locals.user) { %>
            <form method="post" action="/blog/comment/<%= blog._id %>">
                <div class="mb-3">
                  <input type="text" class="form-control" id="content" aria-describedby="text" name="content" placeholder="Enter your comment">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
        <% } %>
    </div>
    <% if (locals.comments) { %>
        <div class="conatainer  px-5">
            <% comments.forEach(comment => { %>
             <div>
                <img src="/<%= comment.createdBy.profileImageURL %>" alt="userImage" width="50px" class="rounded-circle">
                <%=comment.createdBy.fullname  %>
                <p class="ps-5"><%= comment.content %></p>
             </div>
            <% }) %>
        </div>
     
    <% } %>

    <%- include('./partials/script') %>
</body>
</html>